.mod-cm6 .cm-editor .HyperMD-header, .markdown-reading-view .markdown-preview-section :is(h3,h4,h5,h6) {
    line-height: 1em !important;
    margin:18px 0px 2px 0px !important;
    padding: 1px 0px 5px 0px !important;
}

.mod-cm6 .cm-editor .HyperMD-header, .markdown-reading-view .markdown-preview-section :is(h1) {
    line-height: 1em !important;
    margin:2px 0px 2px 0px !important;
    padding: 10px 0px 15px 0px !important;
}

.mod-cm6 .cm-editor .HyperMD-header, .markdown-reading-view .markdown-preview-section :is(h2) {
    line-height: 1em !important;
    margin:2px 0px 2px 0px !important;
    padding: 15px 0px 15px 0px !important;
}

.markdown-rendered p {
	margin-block-start: 0px;
	margin-block-end: 15px;
}

/*REGOLA IL COMPORTAMENTO DEGLI HEADERS PER NON FARE CASINO CON LE PROPERTIES*/